<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishDir>D:\SkyOpsAPI Debug\Development</PublishDir>
    <Configuration>Debug</Configuration>
    <TargetFramework>net9.0</TargetFramework>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <SelfContained>false</SelfContained>
    
  </PropertyGroup>
</Project>